body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, #000, #333) no-repeat;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden; /* Para evitar el desplazamiento horizontal */
}

header {
    background-color: #000000; /* Color de fondo del header */
    height: 60px; /* Altura fija del header */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px; /* Espacio interno opcional */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    width: 80px; /* Ajustar el tamaño del logo si es necesario */
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-icon {
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #fff;
}

.side-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #222;
    overflow-x: hidden;
    transition: left 0.5s;
    padding-top: 60px;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
}

.side-menu ul {
    list-style-type: none; /* Eliminar viñetas */
    padding: 0;
    margin: 0;
}

.side-menu li {
    margin: 10px 0;
}

.side-menu a {
    color: #fff; /* Cambiar el color del texto */
    text-decoration: none;
    font-size: 1.2em;
    display: block;
    padding: 10px 20px;
}

.side-menu a:hover {
    background-color: #575757;
}

.hidden {
    left: -250px;
}

.show {
    left: 0;
}

.content {
    background-image: url('fondoapp.png'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 60px); /* Resta la altura del header del total de la altura de la ventana */
    padding: 20px; /* Espacio interno */
    margin-top: 60px; /* Asegura que el contenido comience después del header */
    box-sizing: border-box; /* Incluir el padding en la altura total */
}

.welcome-section {
    margin: 20px 0;
}

.menu-shortcuts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.shortcut-box {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shortcut {
    background-color: #444;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    display: block;
}

.shortcut:hover {
    background-color: #cc1413; /* Cambiar el color al rojo Chauchera */
}

.next-show {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

footer {
    background-color: #000000; /* Color de fondo del pie de página */
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #444;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #cc1413; /* Color rojo Chauchera */
    margin: 0 10px; /* Añadir espacio entre los iconos */
    text-decoration: none;
    font-size: 1.5em;
}

footer a:hover {
    color: #fff;
}

.access-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.access-links a {
    background-color: #444; /* Fondo oscuro para los botones */
    color: #fff; /* Color del texto */
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

.access-links a:hover {
    background-color: #cc1413; /* Cambia el color de fondo al pasar el ratón */
}

