/* CSS para el cuerpo y encabezado */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, #000, #333) no-repeat;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden; /* Para evitar el desplazamiento horizontal */
}

header {
    background-color: #000000; /* Color negro */
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Cambiado a fijo */
    top: 0; /* Posicionarlo en la parte superior */
    width: 100%; /* Asegurar que ocupe todo el ancho de la pantalla */
    z-index: 1000; /* Asegurar que esté por encima de otros elementos */
}

.logo {
    width: auto;
    height: 40px; /* Ajustar según sea necesario */
}

.menu-icon {
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #fff;
}

.side-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #222;
    overflow-x: hidden;
    transition: left 0.5s;
    padding-top: 60px;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
}

.side-menu ul {
    list-style-type: none; /* Eliminar viñetas */
    padding: 0;
    margin: 0;
    text-align: left; /* Alinear el texto a la izquierda */
}

.side-menu li {
    margin: 10px 0;
}

.side-menu a {
    color: #fff; /* Cambiar el color del texto */
    text-decoration: none;
    font-size: 1.2em;
    display: block;
    padding: 10px 20px;
}

.side-menu a:hover {
    background-color: #575757;
}

.hidden {
    left: -250px;
}

.show {
    left: 0;
}

.content {
    background-image: url('fondoapp.png'); /* Ajusta el camino si es necesario */
    background-size: cover; /* Asegura que la imagen cubra toda el área */
    background-position: center; /* Centra la imagen en el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    min-height: calc(100vh - 60px); /* Ajusta la altura para que cubra solo la sección principal */
    padding: 20px; /* Ajusta el padding si es necesario */
    box-sizing: border-box; /* Incluir el padding en la altura total */
    background-color: #0d1214; /* Fondo de color oscuro para el contenido */
    padding-bottom: 80px; /* Espacio inferior para evitar superposición con el footer */
}

footer {
    background-color: #111; /* Fondo del pie de página */
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info a {
    color: #ffffff; /* Color blanco */
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5em;
}

.contact-info a:hover {
    color: #ff6666; /* Color al pasar el cursor */
}

.contact-info span {
    color: #fff;
    margin: 0 5px;
}

/* Secciones adicionales */
.welcome-section {
    margin: 20px 0;
}

.menu-shortcuts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.shortcut-box {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shortcut {
    background-color: #444;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    display: block;
}

.shortcut:hover {
    background-color: #cc1413; /* Cambiar el color al rojo Chauchera */
}

.next-show {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

.show-promo {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.history-section {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

.members-section {
    margin: 20px 0;
}

.member {
    display: flex;
    align-items: center;
    margin: 20px 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.member-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.member-info {
    flex: 1;
    text-align: left;
}

.member-info h2 {
    margin: 0 0 10px 0;
    color: #fff;
}

.member-info p {
    margin: 0;
    color: #ccc;
}

.show-section {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

.show-photo {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
}

.video-section {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

.show-video {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
}

/* Estilos específicos para la página de Canciones */
.playlist-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: calc(100vh - 370px); /* Ajuste para dejar espacio para el header, el footer y el reproductor */
}

.playlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.playlist li {
    display: flex;
    align-items: center;
    margin: 20px 0;
    cursor: pointer;
}

.song-cover {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 20px;
}

.song-info {
    flex: 1;
    text-align: left;
}

.song-title {
    font-size: 1.2em;
    color: #fff;
}

.song-artist {
    font-size: 0.9em;
    color: #ccc;
}

.audio-player {
    position: fixed;
    bottom: 50px; /* Justo encima del footer */
    left: 0;
    width: 100%;
    background-color: #0d1214;
    border-top: 1px solid #333;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.song-details {
    display: flex;
    align-items: center;
}

.song-cover {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.song-info {
    flex: 1;
    text-align: left;
}

.song-title {
    font-size: 1em;
    color: #fff;
}

.song-artist {
    font-size: 0.8em;
    color: #ccc;
}

audio {
    width: calc(100% - 100px); /* Ajustar para dejar espacio para los detalles de la canción */
    height: 50px;
}

/* Estilos específicos para la página de Rider */
.rider-section {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    text-align: left;
}

.rider-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
}

.download-button {
    background-color: #cc1413;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 20px 0;
}

.download-button:hover {
    background-color: #a10f10;
}
