body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden; /* Para evitar el desplazamiento horizontal */
}

header {
    background-color: #0e1114; /* Color negro sólido */
    height: 50px; /* Ajusta la altura del header */
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.menu-icon {
    font-size: 2em;
    cursor: pointer;
    color: #fff;
}

.content {
    background-image: url('fondoapp.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 50px); /* Ajusta la altura para que cubra solo la sección principal */
    padding: 20px; /* Ajusta el padding si es necesario */
}

.side-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #222;
    overflow-x: hidden;
    transition: left 0.5s;
    padding-top: 60px;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
}

.side-menu ul {
    list-style-type: none; /* Eliminar viñetas */
    padding: 0;
    margin: 0;
}

.side-menu li {
    margin: 10px 0;
}

.side-menu a {
    color: #fff; /* Cambiar el color del texto */
    text-decoration: none;
    font-size: 1.2em;
    display: block;
    padding: 10px 20px;
}

.side-menu a:hover {
    background-color: #575757;
}

.hidden {
    left: -250px;
}

.show {
    left: 0;
}

.song-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.song {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px 0;
    width: 80%;
    max-width: 600px;
    text-align: left;
}

.song h3 {
    margin: 0 0 10px;
    color: #fff;
}

.song audio {
    width: 100%;
}
